* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  min-height: 100vh;
}

.cont{
  min-height: 100vh;

}

.main { 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: inherit;
  background: linear-gradient(135deg, hsla(78, 56%, 85%, 0.3), hsla(359, 84%, 63%, 0.2)),
  url('https://images.pexels.com/photos/7991489/pexels-photo-7991489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center / cover;
}

.main-title {
  width: 65%;
  margin-bottom: 8%;
  color: white;
  font-size: 4rem;
}

#show-trending{
  padding: .3rem 1rem;
  font-size: 2rem;
  border-radius: 10px;
}

.movies{
  background: #CCCCB2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #757519, #CCCCB2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  padding: 1rem 0 0 0;
}

.title2{
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.movies img{
  margin: 0 auto;
}

.card {
  background-color: inherit;
  border-bottom: 2px solid black;
  border-top: none ;
  margin: 1rem 0;
}

.overview{
  margin: 1.5% 10%;
}
